#rapRIP {
  border-radius: 8px;
}

.chart::before {
  position: absolute;
  top: 153px;
  left: 110px;
  z-index: -1;
  display: block;
  width: 820px;
  height: 400px;
  content: " ";
  background-image: url("biggie_tupac.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  opacity: 0.5;
}

.tooltip {
  position: absolute;
  text-align: left;
  width: 375px;
  height: 145px;
  padding: 7px;
  padding-top: 3px;
  margin-top: 0px;
  font: 10px Courier;
  color: white;
  background: #b30f2a;
  border: 1;
  border-style: inset;
  border-color: rgba(255, 192, 203, 0.562);
  border-radius: 4px;
  box-shadow: 0 0 40px #b30f2a;
}

.axis-text {
  font: 24px Courier;
  font-weight: bold;
  fill: #b30f2a;
  text-anchor: middle;
}

.active {
  font: 24px Courier;
  font-weight: bold;
  fill: #000;
  fill: #b30f2a;
  transition: fill .5s ease-out;
  text-anchor: middle;
}

.inactive {
  font: 16px Courier;
  font-weight: lighter;
  fill: #b30f2a;
  transition: fill .5s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: #e75480;
  cursor: pointer;
}