<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title></title>
</head>

<body>
  <!-- PUT EVERYTHING HERE -->

  <!-- This styling area is for just this page! -->
  <style>
    body {
      background-image: url("../static/images/ProjectMusic-Hip-Hop.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .jumbotron {
      background-color: black;
      color: white;
      margin-bottom: 0px;
      /* color is for FONT */
    }
  </style>

  <div class="container">

      <!-- NAV BAR -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rip">RIP</a>
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" href="./Worldmap.html">World Map</a> -->
              <a class="nav-link" href="/worldmap">World Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/cmjordan333/Project-2">Repo</a>
            </li>
            <!-- ADD MORE NAV LINKS HERE -->
          </ul>
        </div>
      </nav>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="btn btn-danger " data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Visualizations <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li><a href="./first-comp.html">first comparison</a></li>
            <li><a href="./sec-comp.html">RIP</a></li>
            <li><a href="./Worldmap.html">World Map</a></li>
            <li role="separator" class="divider"></li>

          </ul>
        </li>
        <li><a href="./lyrics.html" class="btn btn-danger ">Lyrics Per Decade </a></li>
        <li><a href="./rap.html" class="btn btn-danger ">Rap Themes</a></li>
        <li><a target="_blank" class="btn btn-danger" href="https://github.com/cmjordan333/Project-2">Repo</a></li>
      </ul>
    </div>

  </div>

  <div id="footer">
    <p>Robben, Chris, and Thalia &copy;2019</p>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

  <!-- CUSTOM JS HERE -->

</body>

</html>