<!DOCTYPE html>
<html>
 <head>
  <title>JavaScript Tag Cloud Chart</title>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
 
 
 
 
 
  <style>


    html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    }
  </style> 
 </head>
  <body>
   <div id="container"></div>
    <script>
            
var data = [
    {"x": "y'all", "value": 109},
    {"x": "Down", "value": 285},
    {"x": "Funky", "value": 90},
    {"x": "Party", "value": 78},
    {"x": "Intergalactic", "value": 45},
    {"x": "Money", "value": 44},
    {"x": "Mic", "value": 102},
    {"x": "rhymes", "value": 90},
    {"x": "Mike", "value": 142},
    {"x": "lighten", "value": 44},
    {"x": "love", "value": 45},
    {"x": "call", "value": 46},
    {"x": "night", "value": 48},
    {"x": "had", "value": 48},
    {"x": "ass", "value": 40}
  ];
    </script>
    <script>
anychart.onDocumentReady(function() {anychart.onDocumentReady(function() {
  var data = [
     {"x": "y'all", "value": 109},
    {"x": "Down", "value": 285},
    {"x": "Funky", "value": 90},
    {"x": "Party", "value": 78},
    {"x": "Intergalactic", "value": 45},
    {"x": "Money", "value": 44},
    {"x": "Mic", "value": 102},
    {"x": "rhymes", "value": 90},
    {"x": "Mike", "value": 142},
    {"x": "lighten", "value": 44},
    {"x": "love", "value": 45},
    {"x": "call", "value": 46},
    {"x": "night", "value": 48},
    {"x": "had", "value": 48},
    {"x": "ass", "value": 40}
  ];

 // create a tag (word) cloud chart
  var chart = anychart.tagCloud(data);

   // set a chart title
  chart.title('Word count for Beastie Boys lyrics')
  // set an array of angles at which the words will be laid out
  chart.angles([0])
  // enable a color range
  chart.colorRange(false);
  // set the color range length
  chart.colorRange().length('80%');

  // display the word cloud chart
  chart.container("container");
  chart.draw();
});
    // code to create a word cloud chart will be here
});
</script>

<div id="footer">
		 <li class="nav-item">
              <a class="nav-link" href="/Home">Home</a>
            </li>
		<p>Robben, Chris, and Thalia &copy;2019</p>
	</div>

  </body>
</html>