<!DOCTYPE html>
<html>
 <head>
  <title>JavaScript Tag Cloud Chart</title>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
 
 
 
 
 
  <style>


    html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    }
  </style> 
 </head>
  <body>
   <div id="container"></div>
    <script>
            
var data = [
    {"x": "Snoop", "value": 1055},
    {"x": "down", "value": 1280},
    {"x": "love", "value": 1021},
    {"x": "she", "value": 733},
    {"x": "gangsta", "value": 511},
    {"x": "y'all", "value": 456},
    {"x": "Doggy", "value": 321},
    {"x": "party", "value": 313},
    {"x": "weed", "value": 240},
    {"x": "game", "value": 565},
    {"x": "shit", "value": 1343},
    {"x": "wanna", "value": 886},
    {"x": "smoket", "value": 404},
    {"x": "little", "value": 352},
    {"x": "stop", "value": 370}
  ];
    </script>
    <script>
anychart.onDocumentReady(function() {anychart.onDocumentReady(function() {
  var data = [
     {"x": "Snoop", "value": 1055},
    {"x": "down", "value": 1280},
    {"x": "love", "value": 1021},
    {"x": "she", "value": 733},
    {"x": "gangsta", "value": 511},
    {"x": "y'all", "value": 456},
    {"x": "Doggy", "value": 321},
    {"x": "party", "value": 313},
    {"x": "weed", "value": 240},
    {"x": "game", "value": 565},
    {"x": "shit", "value": 1343},
    {"x": "wanna", "value": 886},
    {"x": "smoke", "value": 404},
    {"x": "little", "value": 352},
    {"x": "stop", "value": 370}
  ];

 // create a tag (word) cloud chart
  var chart = anychart.tagCloud(data);

   // set a chart title
  chart.title('Word count for Snoop Dog lyrics')
  // set an array of angles at which the words will be laid out
  chart.angles([0])
  // enable a color range
  chart.colorRange(false);
  // set the color range length
  chart.colorRange().length('80%');

  // display the word cloud chart
  chart.container("container");
  chart.draw();
});
    // code to create a word cloud chart will be here
});
</script>
<div id="footer">
		 <li class="nav-item">
              <a class="nav-link" href="/Home">Home</a>
            </li>
		<p>Robben, Chris, and Thalia &copy;2019</p>
	</div>

  </body>
</html>