<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>RIP</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sec-comp-style.css') }}">
		<a class="navbar-brand" class="btn btn-danger " href="index.html">Home</a>
		<br>
		<p1 style="text-align:justify; font-family:courier; font-weight:bold; color: #b30f2a; font-size:52px;">
			RIP - Fallen MCs
		</p1>
		<br>
		<p1 style="text-align:justify; font-family:courier; color:#b30f2a; font-size:18px;">
			dlafdkfdkajhkjh
		</p1>
		<br>
		<p1 style="text-align:justify; font-family:courier; color:#b30f2a; font-size:18px;">
			dlafdkfdkajhkjh
		</p1>
		<br>
		<p1 style="text-align:justify; font-family:courier; color:#b30f2a; font-size:18px;">
			dlafdkfdkajhkjh
		</p1>
		<br>
		<p1 style="text-align:justify; font-family:courier; color:#b30f2a; font-size:18px;">
			dlafdkfdkajhkjh
		</p1>
	<body>
		<style>
		body {
		background-image: linear-gradient(to right,white,grey);
		}
		</style>
		<div class="chart">
		</div>
		<script type="text/javascript" src="{{ url_for('static', filename='js/sec-comp-app.js') }}"></script>
		<br>
​
		<br>
	</body>
	
</html>